# Large model/embedding files
glove.6B.100d.txt
*.vec
q3_backup/
saved_models/
q2/*.pdf

venv/
q2/__pycache__/
# But allow the specific best model we want to submit
!q3/best_attn_glove_L1.pt
!q2/best_model.pt
!q1/best_model.pt

dataset/cleaned*
